[user]
  name = Tim Nolte
  email = tim.nolte@ndigitals.com
	signingkey = 1E6B01AA1C94D82DEFB1CC43E39A73942DB70E71
[push]
  default = simple
	followTags = false
[core]
  excludesfile = ~/.cvsignore
[color]
	ui = true
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  bugfix = "!bfb() { git co-m; git pull; git co-b fix/$1; }; bfb"
  cl = clone
  ci = commit
  co = checkout
  co-b = checkout -b
  co-d = checkout develop
  co-i = checkout integration
  co-l = checkout live
  co-m = checkout main
  feature = "!fb() { git co-m; git pull; git co-b feature/$1; }; fb"
  hotfix = "!hfb() { git co-m; git pull; git co-b hotfix/$1; }; hfb"
  pull-r = pull --single-branch --rebase=preserve
  push-u = !git push -u origin $(git symbolic-ref --short HEAD)
  push-t = push --tags
  release = "!rb() { git co-m; git pull; git co-b release/$1; }; rb"
  st = status
  tag-rel = "!tr() { git co-m; git pull; git tag release-$(date +%Y%m%d); git push-t; }; tr"
  tag-rel-l = "!trl() { git co-l; git pull; git tag release-$(date +%Y%m%d); git push-t; }; trl"
[commit]
	gpgsign = true
[gpg]
	program = gpg2
