# Development & System Directories
.PhpStorm*
backup
node_modules
vendor
go
neovim-ide-setup
storage
*build
workspace

# Local Home Directories
.cache
.composer
.config
#.config/Code
#.config/Yubico
#.config/configstore
#.config/dconf
#.config/git
#.config/gtk-2.0
#.config/nginx/ssl
#.config/nvim
#.config/pulse
.dbus
.fzf
.gem
.gimp-2.8
.gnupg
.java
.local/bin
.local/lib
.local/share
.ngrok2
.node-gyp
.npm
.nvm
.pdepend
.pki
.subversion
.thumbnails
.tmp
.viminfo
.wp-cli
snap


# Files
.Xauthority
.bash_history
#.config/cros-garcon.conf
#.config/weston.ini
.lesshst
*.logs
.mysql_history
.python_history
.ssh/authorized_keys
.ssh/known_hosts
.ssh/*_rsa*
.v8flags.*
.wget-hsts
.yarnrc
passwds.txt
tags
tags.*

